@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

header{
    background-color: #0D1115;
}

a{
    text-decoration:none; 
    color: orange;
}

body{
    margin: 0px;
    padding: 0px;
    background-color:#0D1115;
    font-family: 'Cinzel', serif;
    color: #f8f8ff;
    text-transform: uppercase;
}

.buttonGeral{
    margin: 20px;
    background: none;
    border-style: none;
    color: white;
    border-style: solid;
    border-color: #A79375;
    border-width: 0px 0px 2px;

    position: relative;
    top: -4px;
    left: 40%;
    padding: 10px 10px 2px;

    font-family: 'Cinzel', serif;
    text-transform: uppercase;
}

.buttonGeral:hover{
    border-style: solid;
    border-color: #C28323;
    border-width: 0px 0px 2px;
    transition: border .3s;
    cursor: pointer;
}

/*#region Menu*/
.ladoEsquerdoMenu{
    display: flex;
    padding: 5px 50px;
    display: inline-block;
    position: relative;
    left: 55px;
    color: white;
}
.logo{
        height: 100px;
        position: relative;
        top: 35px;
        left: 50px;
}

.linha{
    background: #9F9A9A;
    margin: 10px 70px 0 70px;
    height: 2px;
    background: -webkit-linear-gradient(135deg, #0D1115,#9F9A9A,#0D1115  );
}
/*#endregion*/

/*#region Layout Responsivo*/
/*layout responsivo 500px*/
@media only screen and (max-device-width: 500px) {
    .facet_sidebar
    {
     display: none;
    }
    .ladoEsquerdoMenu{
        display: none;
    }
    .buttonMenu { 
       
        margin: 0px 0px 10px 10px;
        display: inline-block;
        position:relative;
        left: 8%;
    
    }
    .logo {
        position: relative;
        left: 10px;
    }

}

/*layout responsivo 300px*/
@media only screen and (max-width: 300px){
    .facet_sidebar
    {
     display: none;
    }
    .ladoEsquerdoMenu{
        display: none;
    }
    .buttonMenu { 
     
       margin: 5px;
       background: none;
       border-style: none;
       color: white;
       border-style: solid;
       border-color: #A79375;
       border-width: 0px 0px 2px;
   
       position: relative;
       top: 50px;
       left: -33px;
       padding: 0px 0px 2px 5px;
    
    }
    .logo {
        position: relative;
        top: 35px;
        left: 100px;
    }
    .linha{
        background: #9F9A9A;
        position: relative;
        top:55px;
        margin: 10px 70px 0 70px;
        height: 2px;
      
        background: -webkit-linear-gradient(135deg, #0D1115,#9F9A9A,#0D1115  );
    }
}
/*#endregion*/

/*#region PopUp*/

@keyframes popupAnimationFadeIn {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.popupExternoGeral{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 20000;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.popupExternoGeral.mostrarPopup{
    display: flex;
}

.popupInternoGeral{
    background: rgb(99, 96, 96);
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #C28323;
    box-shadow: 0 0 0 3px white;
    position: relative;
    animation: popupAnimationFadeIn 2s;
    border-radius: 30px;

    text-align: center;
}

.popupInternoGeral h1{
    text-align: center;
}

.popupInternoGeral p{
    text-align: center;
}

.popupInternoGeral a{
    color: orange;
}

.popupInternoGeral a:hover{
    color: white;
}

.buttonPopup{
    margin: 20px;
    background: none;
    border-style: none;
    color: white;
    border-style: solid;
    border-color: #A79375;
    border-width: 0px 0px 2px;

    

    font-family: 'Cinzel', serif;
    text-transform: uppercase;
}

.buttonPopup:hover{
    border-style: solid;
    border-color: #C28323;
    border-width: 0px 0px 2px;
    transition: border .3s;
    cursor: pointer;
}

.buttonFecharPopup{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background:rgb(47, 46, 61);
    color: white;
    cursor: pointer;
    font-size: 1.4em;
}
/*#endregion*/


/*#region principal*/
.principalDireito{
    width: 40%;
    height: 80%;
    position: absolute;
    left: 60%;
}

.principalDireito img{
    padding-top: 200px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.principalEsquerdo{  
    width: 60%;
    height: 80%;
    position: absolute;
    right: 40%;
}
#segundo-texto {
    color:white;
    font-size: 25px;
    font-family: 'Cinzel', serif;
    text-transform: initial;
    margin-top: 80px;
    border-radius: 5px;
      

}

#texto-usuario{
    color: #f8f8ff;
    text-align: left;
    font-size: 30px;
    padding: 30px;
    text-align: center;
    margin-right: 30px;
    font-family: 'Cinzel', serif;
    text-transform: initial;
    background-color:#C28323;
    opacity: unset;
    border-radius: 5px;
    width: 500px;
    margin-left: 470px;
    margin-top: 80px;
   

}

.icon-web {
    width: 30px;
    
}


.principalEsquerdo .superior{
    width: 100%;
    height: 50%;
    position: relative; 
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #9F9A9A;
    text-align: center;
    
}

.txt_superior{
    font-size: 36px;
    font-weight: 400;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    position: relative;
    top: 150px;
}

.dados {
    font-family: 'Cinzel', serif;;
}

.txt_superior:hover{
    text-shadow: 5px 5px 5px gray;
    color: #C28323;
}

.txt_medio{
    font-size: 36px;
    font-weight: 400;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    position: relative;
    top: 100px;
}

.txt_medio:hover{
    text-shadow: 5px 5px 5px gray;
    color: #C28323;
}

.principalEsquerdo .medio{
    width: 100%;
    height: 30%;
    position: relative; 
    text-align: center;
    
}

.principalEsquerdo .inferior{
    width: 100%;
    height: 20%;
    position: relative; 
}
/*#endregion*/

#Btn_popup{
    width: 45px;
    height: 35px;
    align-items:flex-end;
    border-radius: 25px;
}
#Btn_popup:hover{
    background-image:linear-gradient(right,red, yellow);
    width: 70px;
    height: 35px;
}

#Img_Hard{
    position: absolute;
    width: 452px;
    height: 300px;
    left: 66px;
    top: 250px;

}

#Next_{
    background-color: none;
}

.textoPadrao{
    color: white;
    font-size: 30px;
}




.principalEsquerdo h2 {

    font-size: 50px;

}

#texto-usuario::first-letter{
    text-transform: uppercase;
}

/* campo do contato*/
form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: none;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #f4fcfc;
    text-shadow: 5px 5px 5px black;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    box-shadow: 2px 0px 2px #7c7c7a;
    background-color: #dbdfdf;
    color: black;
    font-weight: bold;
    border-style: solid;
    border-color: white;
}

.enviar {
    background-color: #fcfcfc;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.conteudoEscolha{
    color: white;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.conteudoEscolha .nota::first-letter{
    text-transform: uppercase;
}

.conteudoEscolha .nota{
    display: block;
    text-transform: lowercase;
}



.conteudoEscolha button{
    float: right;
}

@media(max-width: 500px){
    .conteudoEscolha{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 1900px){
    form fieldset {
        display:block;
        position:flex;
         left: 10%;
         top: 50%;
    
    }
}

select{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset{
    position:relative; 
    left: 103%;
}

/*.Quadro {
    width: 105%;
    padding: 10% 100%;
    text-align: left;
    position: flex;
    

}*/


 /*.Quadro #nvai  {
    text-align: center;
}*/

#pecausuario {
    color: #252525;
} 
#pecausuario:hover {
    color: #ca8d29;
} 
#botao{ text-align: center }
.botaoEnviar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #ffffff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding:10px;
    cursor: pointer;
    width: 250px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 400ms ease;
}


#botao{
    background-color: #7c7c7a;
    
}

#botao:hover{
    background: rgba(0, 0, 0, 0);
    color:#4d4d4d;
    box-shadow: inset 0 0 0 1px #ffffff;
    background-color: #ffffff;
}




#txt{
    color: white;
}


/*#region escolhaUpgrade*/

.contentEscolhasUpgrade{
    margin: 0 10% 0;
}

.contentEscolhasUpgrade .processador{
    display: flex;
    flex-flow: row wrap;
}

.contentEscolhasUpgrade .processador .box{
    width: 200px;
    height: 250px;
    margin: 25px 10px -5px;
}

#txt{
    color: white;
}


/*#region escolhaUpgrade*/

.contentEscolhasUpgrade{
    margin: 0 10% 0;
}

.contentEscolhasUpgrade > div{
    display: flex;
    flex-flow: row wrap;
}

.contentEscolhasUpgrade .box{
    width: 200px;
    height: 250px;
    margin: 25px 10px -5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: white;
    background: rgba(0,0,0,.5);
}

.contentEscolhasUpgrade h3{
    color: white;
}

.contentEscolhasUpgrade .box img{
    width: 100%;
    height: 50%;
}



 select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #fae9d5;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:rgb(0, 0, 0);
    cursor:pointer;
    font-size: 1em;
    font-family: cursive;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #fae9d5;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #fae9d5;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }



.contentEscolhasUpgrade .box button{
    text-align: center;
    color: #ffffff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding:10px;
    cursor: pointer;
    width: 150px;
    height: 60px;
    background-color: #269442;
    box-shadow:0 5px 0  #166d00;
}

.contentEscolhasUpgrade .box button:hover{
    background-color: #44e43e;
    box-shadow:0 5px 0 #166d00;
}

 .contentEscolhasUpgrade .box button:active{
    box-shadow:none;
    box-shadow:0 5px 0 #005704;
}

.escurecerBox{
    display: none;
}

/*#endregion*/




